<?xml version='1.0' encoding='utf-8'?>
<widget id="com.github.gnastnosaj.boilerplate.cordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <feature name="Channel">
        <param name="android-package" value="com.github.gnastnosaj.boilerplate.cordova.channel.Channel" />
        <param name="onload" value="true" />
    </feature>
</widget>
